PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://chandrasekhar0100:Chandu01@cluster0.ukozsxd.mongodb.net/financeDB?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
